.visible {
  display: block;
}

.hidden {
  display: none;
}

 #game-board {
    height: 350px;
    width: 350px;
    background-color:none;
    overflow: hidden;
}
#board {
    width: 354px;
    height: 354px;
    border-spacing:10;
    margin-left: -10px;
    margin-top: -10px;
}
td {
    height: 116px;
    width: 116px;
    text-align: center;
    font-family: sans-serif;
    font-size: 40pt;
    border: 10px solid #000000;
    color: #000000;
}

